[submodule "M3/jsngonzalez/curl-wigi-m3"]
        path = M3/jsngonzalez/curl-wigi-m3
        url = https://github.com/jsngonzalez/curl-wigi-m3
        branch = master
[submodule "M3QA/jsngonzalez/curl-wigi-m3"]
        path = M3QA/jsngonzalez/curl-wigi-m3
        url = https://github.com/jsngonzalez/curl-wigi-m3
        branch = master
[submodule "M4/Core/vendor/jsngonzalez/curl-wigi-m3"]
        path = M4/Core/vendor/jsngonzalez/curl-wigi-m3
        url = https://github.com/jsngonzalez/curl-wigi-m3
[submodule "M3/Core/vendor/jsngonzalez/curl-wigi-m3"]
	path = M3/Core/vendor/jsngonzalez/curl-wigi-m3
	url = https://github.com/jsngonzalez/curl-wigi-m3
[submodule "M3QA/Core/vendor/jsngonzalez/curl-wigi-m3"]
	path = M3QA/Core/vendor/jsngonzalez/curl-wigi-m3
	url = https://github.com/jsngonzalez/curl-wigi-m3
